.header {
  font-size: 3rem;
  font-family: 'Playfair Display', serif;
  line-height: 0.9;
  letter-spacing: -0.02em;
  width: fit-content;
  margin: 15vh 0 4rem 10vw;
  display: inline-block;
  transform: scale(1, 1.75);
  user-select: none;
}

.header--line3 {
  text-align: end;
}

.portfolio--container {
  width: 100%;
  height: 50vh;  
  padding: 0 1em;
  overflow: hidden;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.portfolio {
  width: 100%;
  height: 100%;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  gap: .5em;

  cursor: grab;
}

.project {
  min-width: 700px;
  height: 100%;

  position: relative;

  border: 1px solid #f2f2f2;
}

.brettspielplatz {  
  background: url("../../assets/images/bsp-thumbnail.jpg") top center no-repeat;
  background-size: cover;
}

.yt2mp3 {  
  background: url("../../assets/images/yt2mp3-thumbnail.jpg") center center no-repeat;
  background-size: cover;
}

.rezepte {
  background: url("../../assets/images/rezepte-thumbnail.jpg") center center no-repeat;
  background-size: cover;
}

.overlay {
  height: 0;
  width: 80%;

  padding: 1em 1em 0;
  
  position: absolute;
  bottom: 0;
  left: 10%;
  
  color: black;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);

  transition: all .5s ease-in-out;
  
  opacity: 0;

  cursor: default;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.project:hover .overlay {
  height: 40%;
  bottom: 20px;
  opacity: 1;
}

.overlay--text {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

.overlay--buttons {  
  width: 100%;
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.overlay--button {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;

  padding: .5em 1em;
  width: 50%;

  border: 1px solid black;
  
  color: black;
  background-color: rgba(255, 255, 255, 0.4);
}

.overlay--button:hover {
  color: white;
  background-color: black;
}

.overlay--button:active {
  transform: scale(0.95);
}

.about {
  display: flex;
  justify-content: space-between;
}

.description {
  font-family: 'Playfair Display', serif;
  font-size: 1.2rem;
  line-height: 0.95;
  letter-spacing: -0.02em;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  width: fit-content;
  margin: 1rem 0 1em 15vw;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .3em;
  padding-right: 10%;
}

.linkedin:hover {
  transform: scale(1.1) rotate(-15deg);
}

.github:hover {
  transform: scale(1.1) rotate(15deg);
}

.mail:hover {
  transform: scale(1.2);
}

@media (max-width: 800px) {
  .portfolio {
    flex-direction: column;
  }

  .project {
    min-width: 100%;
    height: 100%;
  }

  .project:hover .overlay {
    height: 70%;
    bottom: 10px;
  }

  .overlay {
    padding: 1em;
    width: 60%;
    
    left: 20%;
  }

  .overlay--text {
    display: none;
  }

  .overlay--buttons {  
    gap: 1rem;
  }
}

@media (max-width: 450px) {
  .header {
    font-size: 2rem;
  }

  .project:hover .overlay {
    height: 50%;
    width: 80%;
  }

  .overlay {
    padding: 1em;
    width: 60%;
    
    left: 10%;
  }
  
  .overlay--buttons {  
    gap: 1em;
  }

  .overlay--button {
    font-size: 1rem;
  }

  .socials {
    flex-direction: column;
    padding-top: 1em;
  }
}